visual_res/*
frames/
taskout/

outs_all/*
outs_cat_ucf/*
outs_epic/*
out_epic_verb/*
outs_sthsthv2/*
out_sthsthv2_old/*
outs_ucf101/*

__pycache__
*.pt
*.pth
*.mp4
*.pyc
surgery_gesture_r2plus1d.py
surgery*
test_data
*.gif
*.png
*.jpg
*.pdf